In [2]:
import pandas as pd

In [26]:
eventsjoined = pd.read_csv("events_users_interaction_joined.csv", header=0, quoting=0, delimiter=",")

In [34]:
count = eventsjoined["event_id"].value_counts()

In [35]:
count.shape

(106L,)

In [3]:
events = pd.read_csv("events.csv", header=0, quoting=0, delimiter=",")

In [4]:
#events.head(3)

In [5]:
interaction = pd.read_csv("train.csv", header=0, quoting=0, delimiter=",")

In [6]:
#interaction.head(3)

In [8]:
user = pd.read_csv("users.csv", header=0, quoting=0, delimiter=",")

In [9]:
test = pd.read_csv("test.csv", header=0, quoting=0, delimiter=",")

In [21]:
user.head(2)

,user_id,locale,birthyear,gender,joinedAt,location,timezone
0,3197468391,id_ID,1993,male,2012-10-02T06:40:55.524Z,Medan Indonesia,480
1,3537982273,id_ID,1992,male,2012-09-29T18:03:12.111Z,Medan Indonesia,420

In [13]:
#user.head(3)

In [14]:
#result = interaction.join(user, on=['user_id'], how ="outer")

In [15]:
result = events.merge(interaction, on='event_id', how='inner')

In [16]:
result.shape

(15398, 115)

In [23]:
result.tail(3)

,event_id,user_id_x,start_time,city,state,zip,country,lat,lng,c_1,...,c_97,c_98,c_99,c_100,c_other,user_id_y,invited,timestamp,interested,not_interested
15395,3409015015,1019195677,2012-09-28T21:00:00.003Z,Kitchener,ON,NaN,Canada,43.428,-80.434,0,...,0,0,0,0,10,4007830365,0,2012-09-24 17:29:54.064000+00:00,1,0
15396,3119357029,3318624521,2012-10-31T00:00:00.001Z,London,NaN,NaN,United Kingdom,51.481,-0.191,0,...,0,0,0,0,6,422002690,0,2012-10-30 16:17:18.329000+00:00,1,0
15397,2736696425,3264288794,2012-10-26T03:00:00.003Z,Los Angeles,CA,NaN,United States,34.041,-118.259,6,...,0,0,0,0,132,41934198,0,2012-10-24 01:28:46.906000+00:00,0,0

In [24]:
#result2 = result.merge(user, on='user_id', how='inner')

In [40]:
result.head(3)

,user_id,locale,birthyear,gender,joinedAt,location,timezone,event,invited,timestamp,interested,not_interested
0,4101519751,id_ID,1994,male,2012-11-05T20:30:18.234Z,Yogyakarta,420,427097190,0,2012-11-08 21:46:16.428000+00:00,1,0
1,4101519751,id_ID,1994,male,2012-11-05T20:30:18.234Z,Yogyakarta,420,2114066448,0,2012-11-08 21:45:39.021000+00:00,0,0
2,4101519751,id_ID,1994,male,2012-11-05T20:30:18.234Z,Yogyakarta,420,688225431,0,2012-11-08 21:45:39.021000+00:00,0,0

In [41]:
result2 = user.merge(interaction, on='user_id', how='inner')

In [42]:
result2.shape

(15398, 12)

In [45]:
result2.head(3)

,user_id,locale,birthyear,gender,joinedAt,location,timezone,event,invited,timestamp,interested,not_interested
0,4101519751,id_ID,1994,male,2012-11-05T20:30:18.234Z,Yogyakarta,420,427097190,0,2012-11-08 21:46:16.428000+00:00,1,0
1,4101519751,id_ID,1994,male,2012-11-05T20:30:18.234Z,Yogyakarta,420,2114066448,0,2012-11-08 21:45:39.021000+00:00,0,0
2,4101519751,id_ID,1994,male,2012-11-05T20:30:18.234Z,Yogyakarta,420,688225431,0,2012-11-08 21:45:39.021000+00:00,0,0

In [46]:
result3 = events.merge(result2, on='user_id', how='inner')

In [64]:
result3.shape

(1068, 121)

In [76]:
result3.head(3)

,event_id,user_id,start_time,city,state,zip,country,lat,lng,c_1,...,birthyear,gender,joinedAt,location,timezone,event,invited,timestamp,interested,not_interested
0,3571422725,458389001,2012-06-10T17:00:00.000Z,Toronto,ON,NaN,Canada,43.675,-79.347,2,...,1985,male,2012-07-25T02:41:53.799Z,NaN,-240,74074378,0,2012-07-25 02:42:35.760000+00:00,1,0
1,3571422725,458389001,2012-06-10T17:00:00.000Z,Toronto,ON,NaN,Canada,43.675,-79.347,2,...,1985,male,2012-07-25T02:41:53.799Z,NaN,-240,483490410,0,2012-07-25 02:42:35.760000+00:00,0,0
2,3571422725,458389001,2012-06-10T17:00:00.000Z,Toronto,ON,NaN,Canada,43.675,-79.347,2,...,1985,male,2012-07-25T02:41:53.799Z,NaN,-240,3569923325,0,2012-07-25 02:42:35.760000+00:00,0,0

In [63]:
result3.to_csv("events_users_interaction_joined.csv", index=False)

In [104]:
t = result3.groupby(["user_id", "event_id"]).size()

In [105]:
s = t[t>7]

In [106]:
s

user_id     event_id
81458678    2914370075    12
395305791   3067878805    19
458097400   403666423     10
            1004364382    10
            1167399321    10
724483958   1674045200     9
1075126714  2456667746    27
1171363794  2471776755    25
1267593079  3267676143    12
2202079852  1569231835    13
2209002289  2026144213    15
2217853337  3137985038    15
2559754952  4189447197    14
2895220130  1618226807    37
2903662804  44862888      91
            1728231357    91
2985391759  1773358985    18
3591151863  656983762     10
            1050617191    10
            2822500766    10
            3023628065    10
            3309372398    10
            3374114455    10
            4293147981    10
3592311259  1835244265     8
3621549603  98158159      12
            460933963     12
            935838961     12
            1077660025    12
            3270530791    12
3870800241  1471030775     8
            2480577660     8
            2936075033     8
            3971546186     8
4057602883  2114238114    14
4222590338  852571553     12
dtype: int64

AttributeError: 'Series' object has no attribute 'event_id'

In [75]:
testjoin = user.join(interaction, how = 'inner')

ValueError: columns overlap but no suffix specified: Index([u'user_id'], dtype='object')

In [73]:
testjoin = user.join(interaction, on='user_id', how='inner', lsuffix='_left')

In [74]:
testjoin

,user_id_left,locale,birthyear,gender,joinedAt,location,timezone,user_id,event,invited,timestamp,interested,not_interested
35430,6110,en_US,1994,male,2012-10-04T23:21:26.059Z,Union City CA,-480,1785235519,1736406045,0,2012-10-20 08:01:07.374000+00:00,0,1