In [44]:
import pandas as pd
from sklearn import cross_validation
%matplotlib inline
import ml_metrics as metrics

In [45]:
#imports predicted data of top 10 predictions
pred = pd.read_csv("exportTop100Overall_occuring.csv", quoting=0, header=0, delimiter=",")

In [46]:
#dimension of the data
pred.shape

(28782, 4)

In [47]:
#first five contents of pred
pred.head()

      EVENTID  PROPENSITY     USER_ID  RANK
0  1116957623        0.99  1739369956    73
1  1390707377        0.99  2391268949     4
2  1532377761        0.99  2391268949     5
3  2529072432        0.99  2391268949     2
4  1600413013        0.99  2391268949     3

In [48]:
#pred.groupby("EVENTID").size()

In [49]:
#Sorts the data by Rank
t = pred.sort_index(by=["USER_ID"], ascending=[True])

In [50]:
#Sorts the data by Rank
t = pred.sort_index(by=["RANK"], ascending=[True])

In [51]:
#first 5 contents of the data after sort
t.head()

         EVENTID  PROPENSITY     USER_ID  RANK
25492  955398943        0.99  2622502489     1
20183  955398943        0.99  2194944131     1
12940  955398943        0.99   971572498     1
2759   955398943        0.99  1027602768     1
20241  955398943        0.99  1050303296     1

In [52]:
#last 5 contents of the file after sort
t.tail()

          EVENTID  PROPENSITY     USER_ID  RANK
367    3950589515        0.99  2585857017    82
11901  3950589515        0.99   404226314    82
21689  3950589515        0.99   975885955    82
451    3950589515        0.99  1927515781    82
23599  3950589515        0.99  1947430492    82

In [53]:
# drop duplicates if ther e any rows that are duplicated but keep the first (default)
t = t.drop_duplicates()

In [54]:
t = t[["EVENTID","USER_ID","RANK"]]

In [55]:
#data affter removing duplicates
t.head()

         EVENTID     USER_ID  RANK
25492  955398943  2622502489     1
20183  955398943  2194944131     1
12940  955398943   971572498     1
2759   955398943  1027602768     1
20241  955398943  1050303296     1

In [56]:
#no duplicates in the data seen in the data dimension
t.shape

(28782, 3)

In [60]:
#contents of 10 recocommendations to a customer 892435980
g=t.loc[t['USER_ID'].isin([4268968909])]

In [61]:
#Gets columns 
g = g[["EVENTID","USER_ID"]]

In [62]:
#convert the data to a dictionary
dictdata = {k: list(v) for k,v in g.groupby("USER_ID")["EVENTID"]}

In [63]:
dictdata

{4268968909: [955398943,
  2529072432,
  1600413013,
  1390707377,
  1532377761,
  2149464820,
  268233790,
  1203717384,
  3632072502,
  3849306291,
  2130616732,
  719337372,
  633659090,
  2643833505,
  907302600,
  2498491194,
  2073609284,
  3276213471,
  1133385189,
  2153037761,
  771676713,
  1361307272,
  2401458775,
  4203627753,
  1488068589,
  1448086840,
  152418051,
  2415873572,
  2428145712,
  1205670273,
  3048578499,
  559618821,
  221202458,
  1332759137,
  1926323783,
  3480624055,
  602394192,
  3581275802,
  3643004825,
  1776393554,
  3183605169,
  4080944038,
  823015621,
  1597380017,
  645163767,
  1465929077,
  861118590,
  915403718,
  1044854627,
  810618772,
  1699561506,
  2115491671,
  642644408,
  2465528861,
  3509100603,
  910169576,
  1641491432,
  741936389,
  353933726,
  2039358442,
  615488222,
  2803195749,
  4125420656,
  675888033,
  1241270051,
  3462111166,
  3838044081,
  3103100779,
  3565166403,
  4232519602,
  753115138,
  3199229320,
  1116957623,
  97217712,
  1212947698,
  98978060,
  1530709861,
  2114371180,
  3735036412,
  130493588,
  3429508261,
  3950589515]}

In [83]:
#convert data to list for mean average precision
testpred = [(k,v) for k,v in dictdata.items()]

In [85]:
testpred

[(4268968909,
  [955398943,
   2529072432,
   1600413013,
   1390707377,
   1532377761,
   2149464820,
   268233790,
   1203717384,
   3632072502,
   3849306291,
   2130616732,
   719337372,
   633659090,
   2643833505,
   907302600,
   2498491194,
   2073609284,
   3276213471,
   1133385189,
   2153037761,
   771676713,
   1361307272,
   2401458775,
   4203627753,
   1488068589,
   1448086840,
   152418051,
   2415873572,
   2428145712,
   1205670273,
   3048578499,
   559618821,
   221202458,
   1332759137,
   1926323783,
   3480624055,
   602394192,
   3581275802,
   3643004825,
   1776393554,
   3183605169,
   4080944038,
   823015621,
   1597380017,
   645163767,
   1465929077,
   861118590,
   915403718,
   1044854627,
   810618772,
   1699561506,
   2115491671,
   642644408,
   2465528861,
   3509100603,
   910169576,
   1641491432,
   741936389,
   353933726,
   2039358442,
   615488222,
   2803195749,
   4125420656,
   675888033,
   1241270051,
   3462111166,
   3838044081,
   3103100779,
   3565166403,
   4232519602,
   753115138,
   3199229320,
   1116957623,
   97217712,
   1212947698,
   98978060,
   1530709861,
   2114371180,
   3735036412,
   130493588,
   3429508261,
   3950589515])]

In [86]:
#data converterd to a list
dictdata

{4268968909: [955398943,
  2529072432,
  1600413013,
  1390707377,
  1532377761,
  2149464820,
  268233790,
  1203717384,
  3632072502,
  3849306291,
  2130616732,
  719337372,
  633659090,
  2643833505,
  907302600,
  2498491194,
  2073609284,
  3276213471,
  1133385189,
  2153037761,
  771676713,
  1361307272,
  2401458775,
  4203627753,
  1488068589,
  1448086840,
  152418051,
  2415873572,
  2428145712,
  1205670273,
  3048578499,
  559618821,
  221202458,
  1332759137,
  1926323783,
  3480624055,
  602394192,
  3581275802,
  3643004825,
  1776393554,
  3183605169,
  4080944038,
  823015621,
  1597380017,
  645163767,
  1465929077,
  861118590,
  915403718,
  1044854627,
  810618772,
  1699561506,
  2115491671,
  642644408,
  2465528861,
  3509100603,
  910169576,
  1641491432,
  741936389,
  353933726,
  2039358442,
  615488222,
  2803195749,
  4125420656,
  675888033,
  1241270051,
  3462111166,
  3838044081,
  3103100779,
  3565166403,
  4232519602,
  753115138,
  3199229320,
  1116957623,
  97217712,
  1212947698,
  98978060,
  1530709861,
  2114371180,
  3735036412,
  130493588,
  3429508261,
  3950589515]}

In [87]:
#import actual(truth) test data
true = pd.read_csv("Measure_Testing_top100_ocuring_eventsoverallMain3.csv", delimiter=",", quoting=0)

In [88]:
#dimension of the data
true.head()

    user_id       event  invited                         timestamp
0  15390083   907302600        0  2012-10-25 13:08:26.153000+00:00
1  15390083  2643833505        0  2012-10-25 13:08:22.098000+00:00
2  15390083  1361307272        0  2012-10-25 13:08:22.098000+00:00
3  15390083   955398943        0  2012-10-25 13:08:22.098000+00:00
4  15390083   771676713        0  2012-10-25 13:08:22.098000+00:00

In [89]:
#contents of 10 recocommendations to a customer 892435980
ss=true.loc[true['user_id'].isin([4268968909])]

In [90]:
#first 5 contents of the file
ss

         user_id      event  invited                         timestamp
1569  4268968909  955398943        0  2012-11-15 09:37:44.109000+00:00

In [91]:
#drop duplicates and keep first
true = true.drop_duplicates()

In [92]:
#dimension of data after removing duplicates
true.shape

(1578, 4)

In [93]:
#sort the data by user_id
true = true.sort_index(by=["user_id"], ascending=[True])

In [94]:
true.head()

    user_id       event  invited                         timestamp
0  15390083   907302600        0  2012-10-25 13:08:26.153000+00:00
1  15390083  2643833505        0  2012-10-25 13:08:22.098000+00:00
2  15390083  1361307272        0  2012-10-25 13:08:22.098000+00:00
3  15390083   955398943        0  2012-10-25 13:08:22.098000+00:00
4  15390083   771676713        0  2012-10-25 13:08:22.098000+00:00

In [95]:
#convert the data to dictionary
dictTrue = {k: list(v) for k,v in ss.groupby("user_id")["event"]}

In [96]:
dictTrue

{4268968909: [955398943]}

In [97]:
#convert the data to to list for MAP
testTrue = [(k,v) for k,v in dictTrue.items()]

In [98]:
testTrue

[(4268968909, [955398943])]

In [99]:
testpred

[(4268968909,
  [955398943,
   2529072432,
   1600413013,
   1390707377,
   1532377761,
   2149464820,
   268233790,
   1203717384,
   3632072502,
   3849306291,
   2130616732,
   719337372,
   633659090,
   2643833505,
   907302600,
   2498491194,
   2073609284,
   3276213471,
   1133385189,
   2153037761,
   771676713,
   1361307272,
   2401458775,
   4203627753,
   1488068589,
   1448086840,
   152418051,
   2415873572,
   2428145712,
   1205670273,
   3048578499,
   559618821,
   221202458,
   1332759137,
   1926323783,
   3480624055,
   602394192,
   3581275802,
   3643004825,
   1776393554,
   3183605169,
   4080944038,
   823015621,
   1597380017,
   645163767,
   1465929077,
   861118590,
   915403718,
   1044854627,
   810618772,
   1699561506,
   2115491671,
   642644408,
   2465528861,
   3509100603,
   910169576,
   1641491432,
   741936389,
   353933726,
   2039358442,
   615488222,
   2803195749,
   4125420656,
   675888033,
   1241270051,
   3462111166,
   3838044081,
   3103100779,
   3565166403,
   4232519602,
   753115138,
   3199229320,
   1116957623,
   97217712,
   1212947698,
   98978060,
   1530709861,
   2114371180,
   3735036412,
   130493588,
   3429508261,
   3950589515])]

In [102]:
#mean average precison at k=200
metrics.mapk([testTrue],[testpred],2)

0.0