In [2]:
import pandas as pd
from sklearn import cross_validation
%matplotlib inline

In [3]:
train = pd.read_csv("alljoined15kinteraction2_1_encodedarf2_3_1_OneValueRange2.csv", quoting=0, header=0, delimiter=",")

In [4]:
train.groupby("C_3").size()

C_3
1.5     11785
4.5      2505
85.0     1108
dtype: int64

In [5]:
co = train.loc[train['C_3'].isin(["1.5"])]

In [4]:
train.columns

Index([u'Event_id', u'Start_time', u'City', u'State', u'Country', u'Lat',
       u'Lng', u'C_1', u'C_2', u'C_3',
       ...
       u'Invited', u'Timestamp', u'Not_interested', u'Locale', u'Birthyear',
       u'Gender', u'JoinedAt', u'Location', u'Timezone', u'Interested'],
      dtype='object', length=119)

In [5]:
ctrain = train[["User_id","Start_time","City","State","Country","Lat","Lng","C_1","C_2","C_3","C_4","C_5","C_6","C_7","C_8","C_9","C_10","C_11","C_12","C_13","C_14","C_15","C_16","C_17","C_18","C_19","C_20","C_21","C_22","C_23","C_24","C_25","C_26","C_27","C_28","C_29","C_30","C_31","C_32","C_33","C_34","C_35","C_36","C_37","C_38","C_39","C_40","C_41","C_42","C_43","C_44","C_45","C_46","C_47","C_48","C_49","C_50","C_51","C_52","C_53","C_54","C_55","C_56","C_57","C_58","C_59","C_60","C_61","C_62","C_63","C_64","C_65","C_66","C_67","C_68","C_69","C_70","C_71","C_72","C_73","C_74","C_75","C_76","C_77","C_78","C_79","C_80","C_81","C_82","C_83","C_84","C_85","C_86","C_87","C_88","C_89","C_90","C_91","C_92","C_93","C_94","C_95","C_96","C_97","C_98","C_99","C_100","C_other","Locale","Birthyear","Gender","JoinedAt","Location","Timezone","Invited","Timestamp","Interested","Not_interested"]]

In [7]:
#ctrain = train[["event_id","user_id","start_time","city","state","zip","country","lat","lng","c_1","c_2","c_3","c_4","c_5","c_6","c_7","c_8","c_9","c_10","c_11","c_12","c_13","c_14","c_15","c_16","c_17","c_18","c_19","c_20","c_21","c_22","c_23","c_24","c_25","c_26","c_27","c_28","c_29","c_30","c_31","c_32","c_33","c_34","c_35","c_36","c_37","c_38","c_39","c_40","c_41","c_42","c_43","c_44","c_45","c_46","c_47","c_48","c_49","c_50","c_51","c_52","c_53","c_54","c_55","c_56","c_57","c_58","c_59","c_60","c_61","c_62","c_63","c_64","c_65","c_66","c_67","c_68","c_69","c_70","c_71","c_72","c_73","c_74","c_75","c_76","c_77","c_78","c_79","c_80","c_81","c_82","c_83","c_84","c_85","c_86","c_87","c_88","c_89","c_90","c_91","c_92","c_93","c_94","c_95","c_96","c_97","c_98","c_99","c_100","c_other","locale","birthyear","gender","joinedAt","location","timezone","invited","timestamp","interested","not_interested"]]

In [6]:
y = train["Event_id"]

In [7]:
X_train, X_test, y_train, y_test = cross_validation.train_test_split(ctrain, y, test_size=0.2, random_state=0)

In [8]:
X_train.to_csv("X_trainN.csv", index= False)

In [9]:
X_test.to_csv("X_testN.csv", index= False)

In [10]:
y_test.to_csv("y_testN.csv", index= False)

In [11]:
y_train.to_csv("y_trainN.csv", index= False)

In [20]:
X_train.head()

,event_id,user_id,start_time,city,state,zip,country,lat,lng,c_1,...,locale,birthyear,gender,joinedAt,location,timezone,invited,timestamp,interested,not_interested
1041,2114238114,4057602883,2012-12-14T05:30:00.003Z,San Francisco,CA,94110,United States,37.760,-122.419,2,...,en_US,1968,male,2012-10-04T22:36:40.905Z,Oakland California,-480,0,2012-10-04 22:42:31.941000+00:00,1,0
492,1618226807,2895220130,2012-09-15T01:00:00.003Z,Toronto,ON,NaN,Canada,43.655,-79.419,5,...,en_US,1979,male,2012-06-27T01:15:24.233Z,NaN,-240,0,2012-07-18 15:56:42.719000+00:00,0,0
789,1728231357,2903662804,2012-10-27T19:00:00.003Z,San Francisco,CA,NaN,United States,37.762,-122.419,6,...,en_US,1981,female,2012-06-28T04:44:44.577Z,NaN,-480,0,2012-10-26 01:27:48.632000+00:00,0,0
557,935838961,3621549603,2012-03-15T22:00:00.000Z,NaN,NaN,NaN,NaN,NaN,NaN,0,...,en_US,1928,male,2012-07-31T17:32:32.552Z,NaN,-300,0,2012-11-21 15:35:09.900000+00:00,0,0
722,1728231357,2903662804,2012-10-27T19:00:00.003Z,San Francisco,CA,NaN,United States,37.762,-122.419,6,...,en_US,1981,female,2012-06-28T04:44:44.577Z,NaN,-480,0,2012-12-06 20:15:50.514000+00:00,0,0

In [21]:
X_test.head()

,event_id,user_id,start_time,city,state,zip,country,lat,lng,c_1,...,locale,birthyear,gender,joinedAt,location,timezone,invited,timestamp,interested,not_interested
1066,2959780535,3221698850,2012-10-27T11:00:00.000Z,Mississauga,ON,NaN,Canada,43.703,-79.637,0,...,en_US,1982,female,2012-07-14T18:01:43.039Z,NaN,-240,1,2012-08-11 13:35:05.398000+00:00,0,0
549,2349996208,1120323401,2012-09-28T12:00:00.003Z,City of Sydney,NSW,NaN,Australia,-33.869,151.203,5,...,en_US,1994,male,2012-10-14T11:29:46.174Z,North Richmond New South Wales Australia,660,0,2012-10-14 11:32:02.441000+00:00,0,0
103,3309372398,3591151863,2012-09-09T03:00:00.003Z,Tempe,AZ,NaN,United States,33.425,-111.940,1,...,en_US,1982,male,2012-09-20T03:28:07.285Z,Mesa Arizona,-420,0,2012-09-20 03:29:18.380000+00:00,1,0
759,1728231357,2903662804,2012-10-27T19:00:00.003Z,San Francisco,CA,NaN,United States,37.762,-122.419,6,...,en_US,1981,female,2012-06-28T04:44:44.577Z,NaN,-480,0,2012-07-30 18:23:07.401000+00:00,0,0
453,666101022,4261340176,2012-07-15T01:00:00.000Z,San Francisco,CA,NaN,United States,37.783,-122.396,1,...,en_US,1982,male,2012-10-06T19:09:10.742Z,San Francisco California,-420,0,2012-10-06 19:10:09.689000+00:00,1,0

In [22]:
 y_train

1041      12241688
492      518779164
789      874736953
557      435263339
722     2512540415
251      711971335
312      436651588
77      3266986323
944     2224372535
264      939509575
478     3694263991
898     3788868841
725     2062625787
268     3770539193
431     2490299454
687     3669299967
240     1653016455
758     3996301727
655     2862031808
929     1159050153
841     3335940486
792      788496445
654     1999674603
679     1164122688
818     3036332464
625     2998958650
141     2058886809
311     2214787713
5       1163018914
482      566408952
           ...
697     1728231357
423     2902416704
910      366912974
659      372148582
797     2770928885
1047    3987699038
99        46008403
850     1056011812
448      170930739
755     2507770632
976      490590226
115      485696274
777     1728231357
72      1600849184
845      194287425
537     1080582769
849      287440303
174     2750641926
87       712219219
551     3304837598
705     2971360373
314      711971335
600     2423374959
599      760152605
277      436651588
1033    2204967448
763     1164122688
835     3335940486
559     2421272892
684      731713663
Name: event, dtype: int64

In [23]:
y_test

1066    3364940341
549     4022161844
103     3023628065
759     3996301727
453     3640265762
278      939509575
787      307263394
533     3345225671
604     1886391531
913     2622473733
863     1471977551
31      2190223358
808      340072523
27      3545475739
857     2955724234
693     3576424973
1067     567626291
249      436651588
680     3693943691
700     2236462300
826     3701547443
927     1773358985
823     3610133881
1000    3873935598
596      812528842
1024    1370522761
1003    3798981472
732     2219009935
859     4029785203
605      435263339
           ...
471     2042030195
15       483490410
761      647011225
945     3611263082
399     1582270949
175     3247396557
413      771676713
395      115584728
876     4110062919
486     3008955247
1017     148481382
805     2548777291
561     3889821387
971     2091251917
283     2214787713
45      3632963428
924     3659345285
142     3931609399
1018    4294101061
915     3448037031
995      539541742
55      3105234108
85       485696274
836     4027073137
500     3455574126
1011    3453000167
822     4110062919
685      874736953
871     2683829848
583     2421272892
Name: event, dtype: int64

In [24]:
y_test.shape

(107L,)